---
import { Image } from '@astrojs/image/components'

---

<footer class="w-full py-8 border-t border-slate-200 flex justify-between items-center text-black dark:text-white">
    <span>Published by Jake Chen, 2022</span>
    <div class="flex gap-4 items-center"><span>Powered by</span><a href="https://astro.build/" target="_blank" referrerpolicy="origin"><Image src={`../../images/astro-logo.svg`} width={50} height={50} format="avif" /></a></div>
</footer>