---
import Header from '../components/astro/Header.astro'
import Footer from '../components/astro/Footer.astro'
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap" rel="stylesheet">
		<script is:inline>
			const theme = (() => {
				if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
				return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
				return "dark";
				}
				return "light";
			})();
			if (theme === "light") {
				document.documentElement.classList.remove("dark");
			} else {
				document.documentElement.classList.add("dark");
			}
			window.localStorage.setItem("theme", theme);
		</script>
		<style>
		</style>
    </head>
    <body class="bg-gray-100 dark:bg-slate-800 font-sans flex">
		<main class="md:max-w-3xl mx-auto">
			<Header />
            <slot />
			<Footer />
		</main>
	</body>
        
</html>